body {
}

.navbar{
    border: 1px solid #8AC007;
}

.container {
    position: relative;
    width: 350px;
    height: 500px;
    border: 1px solid #8AC007;
}

.tab-page {
    display: none;
    position: center;
    border: 1px solid #8AC007;
}

.tab-page.active {
    display: block;
}
