body {
    width: 220px;
    /*width: 500px;*/
    height: 350px;
    border: 1px solid #ccc;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none !important;
    box-shadow: none;
}

.fa-angle-left, .fa-angle-right, .fa-user-circle{
    color: black;
}

/*
LOGIN PAGE
*/
#loginPage {
    display: none;
    height: 100%;
    width: 100%;
    align-items: center;
}
.form-signin {
    width: 100%;
    margin: 15px;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 14px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/*
SIGN UP PAGE
*/
#signupPage {
    display: none;
    height: 100%;
    width: 100%;
    align-items: center;
}
.form-signup {
    width: 100%;
    margin: 15px;
}
.form-signup .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 14px;
}
.form-signup .form-control:focus {
    z-index: 2;
}
.form-signup input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signup input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#reEnteredPassword {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#status-img {
    color: darkgrey;
}

/*
WALLET PAGE
*/
#balance {
    /*background-color: #00aaff;*/
    /*border-radius: 5px;*/
    /*border: 1px solid darkgray;*/
    /*color: black;*/
    /*line-height: 1;*/
    /*!*font-weight: bold;*!*/
    /*display:inline-block;*/
    min-width: 100px;
    pointer-events: none;
    width: 100%;
}
.btn-group {
    width: 100%;
}
#earned-btn, #spent-btn {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    outline: none !important;
    box-shadow: none;
}
.transactions {
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid black;
    height: 170px;
    align-content: center;
    align-items: center;
    padding-top: 50px;
}

/*
WITHDRAW PAGE
*/
#Withdraw{
    text-align: left;
}

/*
REDEEM PAGE
*/
#Redeem {
    text-align: left;
}
.text-muted {
    display: block;
    line-height: 1.5 !important;
}
.giftcard-img {
    width: 100%;
    height: 100%;
    transition: transform 225ms ease-in-out;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    outline: none !important;
    box-shadow: none;
}

/*
GIFTCARD PAGE
*/
.row {
    align-items: center;
}
.total-row{
    align-items: center;
    outline: 1px solid black;
}
.col-right{
    outline: 1px solid black;
}
#Giftcard {
    text-align: left;
}
.giftcard-img-small {
    width: 100%;
    height: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    outline: none !important;
    box-shadow: none;
}



/*
RESET PAGE
*/
#resetPage {
    display: none;
    height: 100%;
    width: 100%;
    align-items: center;
}
.form-reset {
    width: 100%;
    margin: 15px;
}
.form-reset .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 14px;
}
.form-reset .form-control:focus {
    z-index: 2;
}
.form-reset input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/*
MAIN PAGE
*/
/*#mainPage {*/
/*    display: none;*/
/*    margin: 0 auto;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/
/*.tabcontent {*/
/*    width: 100%;*/
/*    display: none;*/
/*    !*padding: 6px 12px;*!*/
/*    border: 1px solid #ccc;*/
/*    border-bottom: none;*/
/*    position: relative;*/
/*    z-index: 0;*/
/*    margin: 0 auto;*/
/*    text-align: center;*/
/*}*/

/*.tab {*/
/*    overflow: hidden;*/
/*    border: 1px solid #ccc;*/
/*    background-color: #f1f1f1;*/
/*    margin: 0 auto;*/
/*    text-align: center;*/
/*    display: flex;*/
/*    width: 100%;*/
/*    align: bottom;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/

/*.tab button {*/
/*    background-color: inherit;*/
/*    border: none;*/
/*    outline: none;*/
/*    cursor: pointer;*/
/*    padding: 14px 16px;*/
/*    transition: 0.3s;*/
/*    flex-grow: 1;*/
/*}*/

/*.tab button:hover {*/
/*    background-color: #ddd;*/
/*}*/

/*.tab button.active {*/
/*    background-color: #ccc;*/
/*}*/


/*
HEADER
*/
.header {
    margin: 15px 15px;
}
#settings-left {
    visibility: hidden;
}
#title {
    font-size: 16px;
    font-weight: bold;
}


/*
TAB CONTENT
*/
.mainPage {
    width: 100%;
    height: 100%;
    display: none;
}
.tabcontent {
    margin: 15px 15px;
    display: none;
    text-align: center;
}
.settings{
    text-align: left;
}

/*
NAV BAR
*/
.bottomnavbar {
    margin: 15px 15px;
    /*position: absolute;*/
    /*bottom: 0;*/
}
.tablinks{
    color: grey;
    position: relative;
    text-decoration: none;
}

.tablinks:hover {
    color: black;
}

.tablinks:hover::after {
    color: black;
    /*content: "";*/
    /*position: absolute;*/
    /*left: -40%;*/
    /*right: -40%;*/
    /*bottom: -5px;*/
    /*border: 2px solid black;*/
}

.tablinks.active {
    color: black;
}
